html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    background-color: #EDEFED;
}
a {
    color: white;
}
.cover {
    height: 100vh;
    width: 100%;
    z-index: -1;
    top: 0;
}
.dog {
    height: auto;
    width: 100%;
    filter: blur(1px);
    position: absolute;
    top: 0;
}
.flex-form > *:not([type="date"]) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.flex-form input[type="submit"] {
    background: #FF5A5F;
    border-top: 1px solid #FF5A5F;
    border-bottom: 1px solid #FF5A5F;
    color: white;
}
.flex-form {
    z-index: 10;
    position: relative;
}
.flex-form > * {
    border: 0;
    padding: 12px;
    background: white;
    line-height: 25px;
    font-size: 16px;
    border-radius: 0;
    outline: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    color: gray;
}
.flex-form > *:last-child {
    border-right: 0;
}
.cover {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.flex-form {
    display: flex;
    border: 30px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
input[type="search"] {
    flex-basis: 500px;
}
.overlay {
    position: absolute;
    z-index: 10;
    padding-left: 27%;
    padding-top: 10%;
}
.header1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.header2 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.icon {
    color: #fff;
    font-weight: bold;
    text-align: left;
}
.container {
    width: 72.33%;
    height: 33.33%;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    background-color: #fff;
}
.img {
    max-height: 332px;
    max-width: 620px;
}
.text {
    width: 50% float: right;
    margin-left: 20px;
    align-self: flex-start;
    margin-bottom: 42px;
    font-size: 26px;
    color: #484848;

}
.sub-text {
    width: 50% float: right;
    margin-left: 20px;
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 16px;
    color: #484848;
}
.button1 {
    border-color: #007a87;
    border-bottom-color: #004f58;
    background-color: #007a87;
    color: #fff;
    padding: 9px 40px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid;
    font-weight: normal;
    line-height: 1.43;
    display: flex;
    white-space: normal;
    width: 280px;
    margin-left: 40px;
    margin-top: 40px;
}
.break-text {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
}
.break-subtext {
    font-size: 16px;
    color: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-left: 0px;


}

.img-size {
  max-height: 344px;
  max-width: 316px;
  padding: 10px;
}

.button2 {
    display: block;
    white-space: normal;
    width: 23%;
    border:none;
    border-color:#484848 ;
    background: white;
    color: #484848;
    padding: 6px 40px;
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    line-height: 1.43;
    text-decoration: none;
    margin-bottom: 0;
}

.container2 {
  display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-left: 0px;
   margin-top: 20px;
}

.bigger-img {
  max-height: 344px;
  max-width: 656px;
  padding: 10px;
}

.image-flush {
  padding-top: 30px;
}

.community-images {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.footer-container {
  margin-top: 30px; 
}
}


